.element-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.search-field {
    width: 100%;
    max-width: 500px;
    height: 30px;
    margin: 15px;
    border: none;
    background: #eaeaea;
    padding: 5px;
    outline: none;
    border-bottom: 1px solid black;
}

.search-wrapper {
    display: flex;
    justify-content: center;
}