form {
    display: flex;
    flex-direction: column;
}


.textarea-wrapper {
    max-width: 320px;
}
textarea {
    width: 100%;
    height: 250px;
    resize: none;
    padding: 0;
    background: #eaeaea;
    outline: none;
    border: 1px solid black;
}

.review-button, .submit-button  {
    width: 100%;
    height: 50px;
    background: white;
    border: 1px solid black;
}

.review-button:hover, .submit-button:hover {
    height: 49px;
    border: 2px solid black;
    box-shadow: 2px 2px #c4c4c4;
}

.stars {
    margin-bottom: 15px;
}