.container {
    display: flex;
    flex-direction: column;
}

.item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-around;
}

.item-container img {
    max-height: 320px;
}

.product-info {
    text-align: left;
    flex-grow: 1;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 20px;
}

.link:hover a {
    border-bottom: 1px solid black;
    font-weight: bold;
}

.link:hover svg {
    margin-right: 5px;
    font-size: 20px;
}

.product-name {
    margin: 0;
    font-size: 24px;
}

.product-price {
    margin: 0;
    font-size: 24px;
}

.product-description {
    max-width: 500px;
    min-width: 300px;
}

.review-container {
    margin: 0 20px;
    max-width: 320px;
}

.customer-reviews {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: flex-start;*/
    /*align-items: center;*/
    margin: 0 20px;
}

.add-to-basket {
    width: 150px;
    height: 50px;
    background: white;
    border: 1px solid black;
}

.add-to-basket:hover {
    height: 49px;
    border: 2px solid black;
    box-shadow: 2px 2px #c4c4c4;
}



